.header {
	border-top:10px solid $teal;
	padding:10vh 0 15vh;
	background: {
		size:cover;
		position:50%;
		repeat:no-repeat;
	}
	&__container {
		@include container;
		text-align:center;
	}
	&__logo {
		padding-bottom:5vh;
	}
	&__text {
		margin:0 auto;
		max-width:750px;
		p {
			&:first-child {
				text-transform:uppercase;
				font-size:1.375rem;
			}
			margin:0 0 30px;
			color:$white;
			font-weight:700;
		}
		h1 {
			margin:0 0 25px;
			color:$white;
		}
	}
}